@model GestionInventarioWeb.Models.Usuario
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <h1>Borrar Usuario</h1>

    <h3>Desea borrar a este usuario?</h3>
    <div>
        <h4>Usuario</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                NOMBRE
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                TELEFONO
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-2">
                RUT
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rut)
            </dd>
            <dt class="col-sm-2">
                ROL
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdRolNavigation.Rol)
            </dd>
        </dl>

        <form action="/Users/DeleteConfirmed" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="btn-group">
                <input type="submit" value="Borrar" class="btn btn-danger" />
                <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Cancelar</a>
            </div>
        </form>
    </div>

</div>