@model GestionInventarioWeb.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">

    <div class="hstack gap-1">
    <a class="btn btn-dark" asp-action="Index" style="margin-right:1em;">Atras</a>
    <h1>Detalles</h1>
    </div>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                ID
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class = "col-sm-2">
                NOMBRE
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class = "col-sm-2">
                TELEFONO
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class = "col-sm-2">
                RUT
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Rut)
            </dd>
            <dt class = "col-sm-2">
                ROL
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdRolNavigation.Rol)
            </dd>
        </dl>
        <hr />
    </div>
    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Eliminar</a>
    </div>
</div>
