@model GestionInventarioWeb.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">

    <div class="hstack gap-1">
        <h2>Detalles Producto</h2>
        <a class="btn btn-dark" asp-action="Index" style="margin-right:1em;">Atras</a>
    </div>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                EAN
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ean)
            </dd>
            <dt class="col-sm-2">
                Nombre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                Descripcion
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                Precio
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="col-sm-2">
                Categoria
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdCategoriaNavigation.Categoria1)
            </dd>
        </dl>
        <hr />
    </div>
    <div>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>
        <a class="btn btn-danger" asp-action="CanDelete" asp-route-id="@Model?.Id">Eliminar</a>
    </div>

</div>
