@model GestionInventarioWeb.Data.Sale

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ID Venta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Fecha
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            Vendedor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>
        <dt class = "col-sm-2">
            Productos
        </dt>
        <dd class = "col-sm-10">
            <table>
                <thead>
                    <tr>ID</tr>
                    <tr>Codigo EAN</tr>
                    <tr>Nombre</tr>
                    <tr>Categoria</tr>
                    <tr>Precio</tr>
                    <tr>Cantidad</tr>
                    <tr>Descripcion</tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.EAN</td>
                            <td>@product.Name</td>
                            <td>@product.Category</td>
                            <td>@product.Price</td>
                            <td>@product.Stock</td>
                            <td>@product.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
