@model GestionInventarioWeb.Data.Sale

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    <div class="hstack gap-2">
        <h1>Detalles</h1>
        <a class="btn btn-dark" asp-action="Index">Atras</a>
        <a class="btn btn-warning" asp-action="EditSale" asp-route-id="@Model.Id">Editar</a>
        <a class="btn btn-danger" asp-action="DeleteSale" asp-route-id="@Model.Id">Borrar</a>
    </div>

    <hr />
    <div>
        <dl class="row">
            <dt class = "col-sm-2">
                ID Venta
            </dt>
            <dd class = "col-sm-10" id="sid">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class = "col-sm-2">
                Fecha
            </dt>
            <dd class = "col-sm-10">
                @Model.Date.ToShortDateString()
            </dd>
            <dt class = "col-sm-2">
                Vendedor
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Seller.Name)
            </dd>
            <dt class="col-sm-2">
                Total
            </dt>
            <dd class="col-sm-10" id="stotal"></dd>
            <dt class = "col-sm-2">
                Productos
            </dt>
            <dd class = "col-sm-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Codigo EAN</th>
                            <th>Nombre</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.EAN</td>
                                <td>@product.Name</td>
                                <td>@product.Category</td>
                                <td>@product.Price</td>
                                <td>@product.Cantidad</td>
                                <td>@product.Description</td>
                            </tr>
                        }
                        @if (!Model.Products.Any())
                        {
                            <tr>
                                <td colspan="7">
                                No hay ningun producto
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </dd>
        
        </dl>
    </div>
</div>

<script defer>
    var stotal = document.querySelector("#stotal")
    var sid = document.querySelector("#sid")
    let id = parseInt((sid.innerHTML).trim())
    console.log("ID: "+id)
    fetch("/api/Productos/Venta/"+id)
    .then(response => response.json())
    .then(response => {
        console.log("Coneccion correcta "+ response.length)
        let suma = 0
        for(let p of response){
            console.log(p.name)
            let subtotal = parseInt(p.price) * parseInt(p.cantidad)
            suma += subtotal
        }
        stotal.innerHTML = "$"+suma
    }).catch(error => console.log(error))
</script>
